adafruit-ampy==1.1.0
bitstring==3.1.7
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
ecdsa==0.16.1
esptool==3.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyaes==1.6.1
pycparser==2.20
pyserial==3.4
python-dotenv==0.13.0
pyudev==0.22.0
reedsolo==1.5.4
rshell==0.0.28
six==1.15.0
Werkzeug==1.0.1
